<div class="flex imageBackground h-screen gap-3">
  <app-side-nav />

  <section class="flex flex-col gap-3 h-full w-full p-4">
    <div
      class="flex mt-10 w-full bg-primary-light rounded-lg h-[80px] justify-between items-center border-2 border-x-secondary-light p-6"
    >
      <b class="text-secondary-light w-40 flex text-left">Nombre</b>
      <b class="text-secondary-light w-52 text-center">Industria</b>
      <b class="text-secondary-light w-20 text-left">Estado</b>
      <b class="text-secondary-light w-40 text-left">Acciones</b>
    </div>

    <div *ngIf="matchesByUserId.length === 0" class="text-secondary-light">
      <h1>No tienes ningún match.</h1>
    </div>

    <div class="w-full flex flex-col gap-2">
      <ng-container *ngFor="let match of matchesByUserId">
        <div
          class="flex justify-around bg-primary-light p-2 rounded-lg h-[70px] items-center border-2 border-x-secondary-light"
        >
          <ng-container *userAppRole="['USER']">
            <span
              class="text-secondary-dark text-left w-40 whitespace-nowrap -ml-6"
            >
              {{ match?.match?.business?.businessName }}
            </span>

            <span class="text-secondary-light text-center w-52">{{
              match?.match?.business?.businessType | industryTypes
            }}</span>
            <span class="text-secondary-light text-left w-20">{{
              match?.match?.business?.response
            }}</span>
          </ng-container>

          <ng-container *userAppRole="['ADMIN']">
            <span
              class="text-secondary-dark text-left w-40 whitespace-nowrap -ml-6"
            >
              {{ match?.match?.user?.userName }}
            </span>

            <span class="text-secondary-light text-center w-52">{{
              match?.match?.user?.clientType | industryTypes
            }}</span>
            <span class="text-secondary-light text-left w-20">{{
              match?.match?.user?.response
            }}</span>
          </ng-container>

          <div class="flex flex-row gap-4">
            <button
              class="text-secondary-dark flex flex-col scale-100 hover:scale-125 hover:text-secondary-light items-center gap-2"
              [disabled]="match?.match?.business?.response !== 'pending'"
              (click)="canceledMatchedById(match?.match?.notificationId)"
            >
              <i class="fa-solid fa-ban"></i> Cancelar
            </button>

            <button
              (click)="acceptedMatchedById(match?.match?.notificationId)"
              class="text-secondary-dark flex flex-col scale-100 hover:scale-125 hover:text-secondary-light items-center gap-2"
              [disabled]="match?.match?.business?.response !== 'pending'"
            >
              <i class="fa-regular fa-circle-check"></i> Aceptar
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</div>
