<div class="h-screen flex flex-col">
  <div class="">
    <app-header></app-header>
  </div>
  <section class="imageBackground flex-grow">
    <form
      [formGroup]="createUserForm"
      (ngSubmit)="onSubmit()"
      class="max-w-md mx-auto my-8 px-4 py-6 bg-primary-light shadow-lg shadow-primary-dark rounded-lg border-2 border-secondary-dark"
    >
      <h1
        class="text-3xl font-bold mb-4 justify-center flex text-secondary-light"
      >
        Crear Usuario
      </h1>

      <div class="mb-4">
        <label for="name" class="block text-secondary-light font-semibold mb-2"
          >Nombre</label
        >
        <input
          type="text"
          id="name"
          placeholder="Nombre del usuario"
          formControlName="name"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary-light"
        />
        <div
          *ngIf="
            (createUserForm.get('name')?.errors &&
              createUserForm.get('name')?.dirty) ||
            createUserForm.get('name')?.touched
          "
        >
          <small class="text-secondary-light"
            >El nombre es requerido y debe tener al menos 6 caracteres.</small
          >
        </div>
      </div>

      <div class="mb-4">
        <label for="email" class="block text-secondary-light font-semibold mb-2"
          >Correo electrónico</label
        >
        <input
          type="email"
          id="email"
          placeholder="Email del usuario"
          formControlName="email"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary-light"
        />
        <div
          *ngIf="
            createUserForm.get('email')?.invalid &&
            (createUserForm.get('email')?.dirty ||
              createUserForm.get('email')?.touched)
          "
        >
          <small class="text-secondary-light"
            >El correo es requerido y debe ser valido.</small
          >
        </div>
      </div>

      <div class="mb-4">
        <label
          for="password"
          class="block text-secondary-light font-semibold mb-2"
          >Contraseña</label
        >
        <input
          type="password"
          id="password"
          placeholder="Contraseña del usuario"
          formControlName="password"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary-light"
        />
        <div
          *ngIf="
            createUserForm.get('password')?.invalid &&
            (createUserForm.get('password')?.dirty ||
              createUserForm.get('password')?.touched)
          "
        >
          <small class="text-secondary-light"
            >La contraseña es requerida y debe tener al menos 8 carácteres , una
            mayúscula, minúscula y un carácter especial.</small
          >
        </div>
      </div>

      <div class="mb-6">
        <label
          for="clientType"
          class="block text-secondary-light font-semibold mb-2"
          >Tipo de Cliente</label
        >
        <select
          id="clientType"
          formControlName="clientType"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary-light"
        >
          <option value="1">Cliente Tipo 1</option>
          <option value="2">Cliente Tipo 2</option>
        </select>
        <div
          *ngIf="
            createUserForm.get('clientType')?.invalid &&
            (createUserForm.get('clientType')?.dirty ||
              createUserForm.get('clientType')?.touched)
          "
        >
          <small class="text-secondary-light"
            >El tipo de cliente es requerido.</small
          >
        </div>
      </div>

      <div class="justify-center flex">
        <button
          type="submit"
          [disabled]="createUserForm.invalid && !createUserForm.dirty"
          class="w-1/2 bg-secondary-dark border border-secondary-light text-white font-semibold py-2 px-4 rounded-md hover:bg-secondary hover:text-primary-light transition duration-300"
        >
          Crear cuenta
        </button>
      </div>
    </form>
  </section>
  <div class="items-end w-full">
    <app-footer></app-footer>
  </div>
</div>
