<!-- <div class="">
    <app-header [showSingUpButton]="true"></app-header>
  </div> -->
<div class="flex flex-row">
  <app-side-nav />
  <section class="homeOpportunity mt-9 flex flex-col max-w-[1000px] ml-4">
    <div class="flex flex-col">
      <h3 class="text-3xl font-bold text-primary-dark flex justify-start mb-10">
        Bienvenido a Opportunity Match
      </h3>

      <p-carousel
        [value]="cardOptions"
        [numVisible]="4"
        [numScroll]="3"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-cardOption pTemplate="item">
          <!-- Verificar el rol del usuario con la directiva userAppRole -->
          <div *userAppRole="['USER']" class="card-container">
            <app-card-options
              [title]="cardOption.title"
              [icon]="cardOption.icon"
              [buttonText]="cardOption.buttonText"
            ></app-card-options>
          </div>
          <!-- En caso de que el usuario no sea admin -->
          <!-- <div *userAppRole="['USER']" class="card-container">
            <app-card-options
              *ngIf="cardOption.title === 'Ver Perfil'"
              [title]="cardOption.title"
              [icon]="cardOption.icon"
              [buttonText]="cardOption.buttonText"
            ></app-card-options>
          </div> -->
        </ng-template>
      </p-carousel>
    </div>
  </section>
</div>
