
<div class="flex">
  <app-side-nav></app-side-nav>
  <section class="homeOpportunity flex flex-col min-w-[1000px]">
    <h3 class="text-3xl font-bold text-primary-dark flex justify-start p-4">
      Bienvenido a Opportunity Match
    </h3>

    <div class="z-0 absolute mt-20">
      <img
        src="assets/image/BannerHome.jpeg"
        alt="Banner Home"
        class="h-[280px] min-w-[1020px] opacity-20"
      />
    </div>

    <ng-container *userAppRole="['ADMIN']">
      <!-- Carrusel para administradores -->
      <p-carousel
        [value]="cardOptions"
        [numVisible]="4"
        [numScroll]="3"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
        [style]="{ width: '90%' }"
        class="w-full flex justify-around z-20 h-full items-center"
      >
        <ng-template
          let-cardOption
          pTemplate="item"
          class="w-full flex justify-around z-20 h-full items-center"
        >
          <div class="card-container">
            <app-card-options
              [title]="cardOption.title"
              [icon]="cardOption.icon"
              [buttonText]="cardOption.buttonText"
              [routeAction]="cardOption.routeButton"
            ></app-card-options>
          </div>
        </ng-template>
      </p-carousel>
    </ng-container>

    <ng-container *userAppRole="['USER']">
      <!-- Renderizar tarjetas para usuarios normales -->
      <div class="w-full flex justify-around z-20 h-full items-center">
        <ng-container *ngFor="let cardOption of cardOptions">
          <div
            *ngIf="
              cardOption.title === 'Ver Perfil' ||
              cardOption.title === 'Ver Matches' ||
              cardOption.title === 'Ver Ofertas'
            "
            class="card-container"
          >
            <app-card-options
              [title]="cardOption.title"
              [icon]="cardOption.icon"
              [buttonText]="cardOption.buttonText"
              [routeAction]="cardOption.routeButton"
            ></app-card-options>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </section>
</div>
