<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary-light min-w-[250px] overflow-x-hidden"
    >
      <div
        class="d-flex flex-column gap-3 align-items-center align-items-sm-start ml-1 pt-8 min-vh-100"
      >
        <span
          class="fs-5 d-none d-sm-inline text-secondary-dark font-semibold mb-6"
          >Menu</span
        >
        <ul
          class="nav nav-pills flex-column gap-2 mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a
              [routerLink]="['/homeOpportunity']"
              class="nav-link align-middle px-0"
            >
              <i
                class="fa-solid fa-house-chimney-window text-secondary-dark"
              ></i>
              <span
                class="ms-1 d-none d-sm-inline text-secondary-light hover:text-secondary-dark"
                >Home</span
              >
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/allBusiness']"
              class="nav-link px-0 align-middle"
            >
              <i class="fa-solid fa-gauge text-secondary-dark"></i>
              <span
                class="ms-1 d-none d-sm-inline text-secondary-light hover:text-secondary-dark"
                >Ofertas</span
              >
            </a>
          </li>

          <li>
            <a
              [routerLink]="['/matchesByUser']"
              class="nav-link px-0 align-middle"
            >
              <i class="fa-solid fa-business-time text-secondary-dark"></i>
              <span
                class="ms-1 d-none d-sm-inline text-secondary-light hover:text-secondary-dark"
                >Match</span
              >
            </a>
          </li>
          <li *userAppRole="['ADMIN']">
            <a [routerLink]="['/allUsers']" class="nav-link px-0 align-middle">
              <i class="fa-solid fa-users text-secondary-dark"></i>
              <span
                class="ms-1 d-none d-sm-inline text-secondary-light hover:text-secondary-dark"
                >Usuarios</span
              >
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/notifications']"
              class="ms-1 d-none d-sm-inline text-secondary-light hover:text-secondary-dark"
            >
              <i class="fa-solid fa-bell text-secondary-dark"></i>
              Notificaciones
            </a>
          </li>
        </ul>
        <hr />

        <div class="dropdown pb-6">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i
              class="fa-solid fa-user-tie rounded-circle text-secondary-dark text-2xl mr-2"
            ></i>
            <span class="d-none d-sm-inline mx-1 w-44 truncate">{{
              userName
            }}</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark text-small shadow bg-secondary-dark"
          >
            <li>
              <a
                class="dropdown-item text-primary-light cursor-pointer"
                [routerLink]="['/userById']"
                >Profile</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-primary-light cursor-pointer"
                (click)="logOut()"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
