<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary-light min-w-[250px]"
    >
      <div
        class="d-flex flex-column align-items-center align-items-sm-start ml-1 pt-8 min-vh-100"
      >
        <span
          class="fs-5 d-none d-sm-inline text-secondary-dark font-semibold mb-6"
          >Menu</span
        >
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <a
              [routerLink]="['/homeOpportunity']"
              class="nav-link align-middle px-0"
            >
              <i
                class="fa-solid fa-house-chimney-window text-secondary-dark"
              ></i>
              <span
                class="ms-1 d-none d-sm-inline text-secondary-light hover:text-secondary-dark"
                >Home</span
              >
            </a>
          </li>
          <li>
            <a
            [routerLink]="['/allBusiness']"
              class="nav-link px-0 align-middle"
            >
              <i class="fa-solid fa-gauge text-secondary-dark"></i>
              <span
                class="ms-1 d-none d-sm-inline text-secondary-light hover:text-secondary-dark"
                >Ofertas</span
              >
            </a>
          </li>
        </ul>
        <hr />

        <div class="dropdown pb-6">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="hugenerd"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1 w-44 truncate"
              >nombre de usuario</span
            >
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
