<div class="header">
  <header class="bg-primary-light h-28 flex items-center">
    <a [routerLink]="['/']" routerLinkActive="router-link-active">
      <img
        src="assets/image/logo.png"
        alt="logo Opportunity Match"
        class="W-24"
      />
    </a>
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-4xl font-bold text-secondary-light ml-3">
        Opportunity Match
      </h1>
    </div>
    <div class="w-full flex justify-end mr-8">
      <button
        *ngIf="showLoginButton"
        routerLink="login"
        class="text-lg text-secondary-light font-semibold whitespace-nowrap bg-secondary-dark border border-secondary-light p-2 rounded-md shadow-sm shadow-secondary-light hover:bg-secondary hover:shadow-secondary-dark hover:shadow-lg hover:text-primary-dark"
      >
        Iniciar Sesión
      </button>
      <button
        *ngIf="showBakcButton"
        routerLink="/"
        class="text-lg text-secondary-light font-semibold whitespace-nowrap bg-secondary-dark border border-secondary-light p-2 rounded-md shadow-sm shadow-secondary-light hover:bg-secondary hover:shadow-secondary-dark hover:shadow-lg hover:text-primary-dark"
      >
        Volver
      </button>
    </div>
  </header>
</div>
