<div class="flex imageBackground h-screen gap-3">
  <app-side-nav />
  <section class="flex flex-col gap-3 h-full w-full p-4">
    <div
      class="flex mt-10 w-full bg-primary-light p-3 rounded-lg h-[80px] justify-between items-center border-2 border-x-secondary-light"
    >
      <b class="text-secondary-light w-36 flex ml-4 text-left">Nombre</b>
      <b class="text-secondary-light w-52 text-left">Email</b>
      <b class="text-secondary-light w-20 text-left">Role</b>
      <b class="text-secondary-light w-52 text-center">Industria</b>
      <b class="text-secondary-light w-32 text-left">Acciones</b>
    </div>

    <div class="w-full flex flex-col gap-2">
      <!-- Iterar sobre cada negocio y mostrar los detalles -->
      <ng-container *ngFor="let user of usersData">
        <div
          class="flex justify-around bg-primary-light p-6 rounded-lg h-[70px] items-center border-2 border-x-secondary-light"
        >
          <span class="text-secondary-light text-left w-36">{{
            user?.name
          }}</span>
          <span class="text-secondary-light text-left w-52 truncate">{{
            user?.email
          }}</span>
          <span class="text-secondary-light text-left w-20">{{
            user?.role
          }}</span>
          <span class="text-secondary-light text-center w-52">{{
            getClientTypeLabel(user?.clientType)
          }}</span>

          <div class="flex flex-row gap-4">
            <button
              *ngIf="user._id"
              (click)="viewUserProfile(user._id)"
              class="text-secondary-dark flex scale-100 hover:scale-125 hover:text-secondary-light"
            >
              <i class="fa-solid fa-eye"></i>
            </button>

            <button
              class="text-secondary-dark flex scale-100 hover:scale-125 hover:text-secondary-light"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</div>
