<div class="e-card playing">
  <div class="image"></div>

  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>

  <div class="infotop">
    <i [class]="icon"></i>
    <br />
    {{ title }}
    <br />
    <div class="name">
      <button
        [routerLink]="[routeAction]"
        class="text-lg text-secondary-light font-semibold whitespace-nowrap mt-4 w-24 h-10  bg-secondary-dark border border-secondary-light p-2 rounded-md shadow-sm shadow-secondary-light hover:bg-secondary hover:shadow-secondary-dark hover:shadow-lg hover:text-primary-dark"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</div>
