<div class="flex imageBackground h-screen gap-3">
  <app-side-nav />

  <div class="flex flex-col w-full p-4">
    <h1
      class="text-primary-light font-bold flex w-full justify-center text-3xl"
    >
      Notificaciones
    </h1>

    <div
      *ngIf="notificationDetail"
      class="w-full flex justify-center flex-col items-center"
    >
      <ng-container *ngIf="notificationDetail.length > 0; else noNotifications">
        <div
          *ngFor="let notification of notificationDetail"
          class="bg-secondary-dark p-2 rounded-lg mt-2 border-2 border-x-secondary-light"
        >
          <div
            class="flex w-full justify-center items-center"
            *ngIf="userRole === 'admin' && notification.status === 'pending'"
          >
            <p class="text-primary-dark">
              {{ notification.userMessages.admin }}
            </p>
            <b class="text-primary-dark">
              Accepted By User: <span>{{ notification.acceptedByUser }}</span>
            </b>
          </div>
          <div *ngIf="userRole === 'user' && notification.status === 'pending'">
            <p class="text-primary-dark">
              {{ notification.userMessages.user }}
            </p>
            <b class="text-primary-dark">
              Accepted By User: <span>{{ notification.acceptedByAdmin }}</span>
            </b>
          </div>
        </div>
      </ng-container>
      <ng-template #noNotifications>
        <p class="text-secondary-light">No hay notificaciones disponibles.</p>
      </ng-template>
    </div>
  </div>
</div>
