<div class="z-20 absolute w-full">
  <app-header [showBakcButton]="true"></app-header>
</div>
<div class="imageBackground h-screen flex flex-col">
  <section class="h-full flex w-full justify-center items-center">
    <form
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
      class="max-w-md mx-auto px-4 py-6 bg-primary-light shadow-lg shadow-primary-dark rounded-lg border-2 border-secondary-dark w-full"
    >
      <h1
        class="text-3xl font-bold mb-4 justify-center flex text-secondary-light"
      >
        Nueva Contraseña
      </h1>

      <div class="mb-4">
        <label
          for="password"
          class="block text-secondary-light font-semibold mb-2"
        >
          Contraseña
        </label>
        <input
          type="password"
          formControlName="password"
          placeholder="Contraseña"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary-light"
        />
        @if (!!isReset && formResetPassword['password'].hasError('required')) {
        <small class="text-secondary-light"> El password es Obligarotio </small>
        } @if(formResetPassword['password'].hasError('required') &&
        formResetPassword['password'].touched) {
        <small class="text-secondary-light"> El password es Obligarotio </small>
        } @if ( formResetPassword['password'].hasError('pattern')) {
        <small class="text-secondary-light">
          La contraseña debe tener al menos 8 caracteres, incluyendo una
          mayúscula, una minúscula, un número y un carácter especial.
        </small>
        }
      </div>

      <div class="mb-4">
        <label
          for="confirmPassword"
          class="block text-secondary-light font-semibold mb-2"
        >
          Confirmar Contraseña
        </label>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Contraseña"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary-light"
        />
        @if (!!isReset && formResetPassword['password'].hasError('required')) {
        <small class="text-secondary-light"> El password es Obligarotio </small>
        } @if (!passwordsMatch) {
        <small class="text-secondary-light">
          Las contraseñas no coinciden
        </small>
        }
      </div>

      <div class="justify-center flex">
        <button
          [disabled]="!resetForm.valid || !passwordsMatch"
          type="submit"
          class="w-fit bg-secondary-dark border border-secondary-light text-white font-semibold py-2 px-4 rounded-md hover:bg-secondary hover:text-primary-light transition duration-300"
        >
          Actualizar Contraseña
        </button>
      </div>
    </form>
  </section>
</div>
